<h1 class="text-center">Camera PWA</h1>

<div>

</div>
    <button id="installApp">Install</button>
<div>
    <div id="liveVideo">
        <video id="webcam" autoplay></video>
    </div>

    <p id="information">Loading model. Please wait before starting camera.</p>
    <div class="video-controls">
        <button id="play" title="Play">Start camera</button>
        <button id="pause" title="Pause">Perform prediction of displayed image</button>
        <button id="save-image" title="Save">Save Image</button>
        <button id="view" title="View">View Photos</button>
    </div>
    <div>
        <input type="range" id="zoom" name="zoom">
        <label for="zoom">Zoom</label>

        <input type="range" id="focus" name="focus">
        <label for="focus">Focus</label>

        <button id="current-settings">Get current camera settings</button>
    </div>

    <p id="errorMessage"></p>

    <img id="tonsil" src="https://i.imgur.com/FyhW2SJ.jpg" crossorigin="anonymous">

</div>

<script src="./scripts/tensorflow.js" type="text/javascript"></script>
{{!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.6.0/dist/tf.min.js"></script> --}}
<script src="./scripts/coco-ssd.js"></script>
<script type="module" src="./scripts/camera.js"></script>